.terraform/
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
*.tfvars
backend.hcl
bootstrap/.terraform/
bootstrap/.terraform.lock.hcl
bootstrap/terraform.tfstate
bootstrap/terraform.tfstate.backup
/.idea/
